@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/** ------------------|| General Styles ||------------------ **/

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* Mobile size 14px */
  font-size: 87.5%;

  /* Fonts */
  --font-basic: "Montserrat", sans-serif;
  --font-heading: "Fraunces", serif;

  /* Sizes normal | Ratio: 1.250 (Major Third) */
  --size-small: 0.8rem;
  --size-basic: 1rem;
  --size-big: 1.25rem;
  --size-heading-6: 1.563rem;
  --size-heading-5: 1.953rem;
  --size-heading-4: 2.441rem;
  --size-heading-3: 3.052rem;
  --size-heading-2: 3.815rem;
  --size-heading-1: 4.768rem;

  /* Colors */
  --color-primary-light: hsl(158, 36%, 47%);
  --color-primary: hsl(158, 36%, 37%);
  --color-primary-dark: hsl(158, 36%, 27%);
  --color-secondary: hsl(30, 38%, 92%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-greyish: hsl(228, 12%, 48%);
  --color-neutral-dark: hsl(212, 21%, 14%);

  /* transitions */
  --duration: 0.3s;

  /* Breakpoints for reference */
  --mobile: 375px;
  --desktop: 1440px;

  font-family: var(--font-basic);
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 100%;
  }
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: var(--font-heading);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }
}

h1 {
  font-size: var(--size-heading-1);
}

h2 {
  font-size: var(--size-heading-2);
}

h3 {
  font-size: var(--size-heading-3);
}

h4 {
  font-size: var(--size-heading-4);
}

h5 {
  font-size: var(--size-heading-5);
}

h6 {
  font-size: var(--size-heading-6);
}

.fluid-container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .fluid-container {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .fluid-container {
    width: 991px;
  }
}

@media screen and (min-width: 1200px) {
  .fluid-container {
    width: 1100px;
  }
}

@media screen and (min-width: 1440px) {
  .fluid-container {
    width: 1200px;
  }
}

/** ------------------|| Header Section ||------------------ **/

header {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  width: 100%;
  padding: 1.2rem 0;
}

/** ------------------|| Main Section ||------------------ **/

main {
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-neutral-dark);
  padding: 3rem 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.card {
  border-radius: 10px;
  width: 100%;
  max-width: 338px;
  overflow: hidden;
  transition: all var(--duration);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  display: block;
}

.card-info {
  padding: 2rem;
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-greyish);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-text p:first-child {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-text p:nth-child(2) {
  font-family: var(--font-heading);
  font-size: var(--size-heading-5);
  font-weight: 700;
  line-height: 1;
  color: var(--color-neutral-dark);
}

.card-price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card-price p:first-child {
  font-family: var(--font-heading);
  font-size: var(--size-heading-5);
  font-weight: 700;
  color: var(--color-primary);
}

.card-price p:last-child {
  text-decoration: line-through;
}

.card-action button {
  border: 0;
  border-radius: 7px;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  font-weight: 700;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all var(--duration);
}

.card-action button:hover {
  background-color: var(--color-primary-light);
}

.card-action button:active {
  background-color: var(--color-primary-dark);
}

button span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 676px;
    display: flex;
    flex-direction: row;
  }

  .card-image {
    width: 50%;
  }

  .card-image img {
    content: url(../images/image-product-desktop.jpg);
  }

  .card-info {
    width: 50%;
    justify-content: space-evenly;
  }
}

/** ------------------|| Footer Section ||------------------ **/

footer {
  background-color: var(--color-neutral-dark);
  color: var(--color-neutral-greyish);
  width: 100%;
  font-size: var(--size-small);
  padding: 1.5rem 0;
}

.attribution {
  text-align: center;
}

footer a:link,
footer a:visited {
  color: var(--color-secondary);
  transition: all var(--duration);
}

footer a:hover,
footer a:active {
  color: var(--color-primary);
}
